body{
    text-align: center;
    background-color:#e9d8a6;
    color:rgb(255, 166, 0);
    font-size:30px;
    background-color: rgb(47, 65, 79);
    background-size: cover; /* Make the image cover the entire background */
    background-attachment: fixed; /* Prevent image from shifting */
}
h1{
    font-style: oblique;
    font-size:50px;
   margin-top: -45px;
}
.profile{ 
    display: flex;
    height:120px;
    border-radius: 5px;
    justify-content: space-between;
    margin:200px;
    margin-top:30px;
}
.player1,.player2{
    background-color:rgb(21, 38, 193);
    border:none;
    border-radius:10px;
    color:rgb(255, 128, 0);
    line-height:10px;
}
.game{
 width:450px;
 display: flex;
 flex-wrap:wrap;
 justify-content: center;
 align-items: center;
 margin: 0 auto;
 margin-top:-150px;
}
.box{
    height:150px;
    width:140px;
    border-radius: 15px;
    border: none;
    background-color: rgb(11, 144, 246);
    color:rgb(25, 14, 105);
    font-size:50px;
    margin:5px;
}
.box:hover {
    background-color:aqua;
    cursor: pointer;
}
#msg{
    display: none;
    position: fixed;
    top: 50%;
    margin-left:550px;
    background-color: rgba(5, 31, 43, 0.9);
    color: rgb(255, 230, 0);
    padding: 50px;
    border-radius: 15px;
    width:300px;
}
.msg-content {
    text-align: center;
    font-size: 24px;
}
#restart {
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: orange;
    color: white;
}
#restart:hover{
    cursor: pointer;
    height:50px;
    border:3px solid wheat
}